h4 {
  line-height: 1;
  margin: 0;
  padding-bottom: 4px;
}

p {
  line-height: 1;
  margin: 0;
  padding-bottom: 2px;
}

.proj_labelbox img,
.all_proj_labelbox img {
  display: block;
  padding-bottom: 4px;
}

.proj_button_box,
.all_proj_button_box {
  padding-bottom: 20px;
}

.proj_images_box,
.proj_partners_box,
.press_images_box {
  display: flex;
}

.proj_images_item,
.proj_partners_item,
.press_images_item {
  padding-right: 4px;
  position: relative;
}

.proj_images_item span.close,
.proj_partners_item span.close,
.press_images_item span.close {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -25px;
  margin-left: -25px;
}

.proj_images_item:hover span.close,
.proj_partners_item:hover span.close,
.press_images_item:hover span.close {
  display: block;
}

.proj_images_item span.close img,
.proj_partners_item span.close img,
.press_images_item span.close img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.day_events {
  text-align: left;
  border: 1px #000000 solid;
  margin-bottom: 12px;
}

.day_events td,
.day_events th {
  padding: 4px 12px;
}

.role_and_input {
  display: flex;
  flex-direction: row;
}

.role_name_wrapper {
  /* display: flex;
  flex-direction: row; */
}

.titles_roles_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-content: flex-end; */
  /* padding-right: 100px; */
  align-items: flex-end;
}

.name_input,
.role_input {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.lang_select_title {
  flex-direction: row;
  display: flex;
  justify-content: space-around;
}

.input_category_title {
  margin: 0 auto;
}

.creators_count_title {
  text-align: center;
  line-height: 77%;
}

.input_grid {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.input_row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.creators_count {
  width: auto;
  min-width: 25px;
}

.input_column {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-around;
}

.input_string_field {
  display: flex;
  width: 100%;
  height: 30px;
}

.red_button {
  background: #b32020;
  border-color: #921f1f;
  color: #fff;

  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;

  display: inline-block;
  text-decoration: none;
  font-size: 13px;
  line-height: 2.15384615;
  min-height: 30px;
  margin: 0;
  padding: 0 10px;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  -webkit-appearance: none;
  border-radius: 3px;
  white-space: nowrap;
  box-sizing: border-box;

  min-height: 32px;
  line-height: 2.30769231;
  padding: 0 12px;
}

.flex_button {
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin: 0 20px;
  max-width: 200px;
}

.button_wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-left: 26px;
  padding-right: 8px;
}

.red_button:hover {
  background: #791919;
  border-color: #791919;
  color: #fff;
}

.blue_button {
  background: #2271b1;
  border-color: #2271b1;
  color: #fff;

  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;

  display: inline-block;
  text-decoration: none;
  font-size: 13px;
  line-height: 2.15384615;
  min-height: 30px;
  margin: 0;
  padding: 0 10px;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  -webkit-appearance: none;
  border-radius: 3px;
  white-space: nowrap;
  box-sizing: border-box;

  min-height: 32px;
  line-height: 2.30769231;
  padding: 0 12px;
}

.blue_button:hover {
  background: #135e96;
  border-color: #135e96;
  color: #fff;
}

.input_text_area {
  width: 100%;
  height: 50px;
}

.press_linkbox > .press_link,
.press_datebox > .press_date,
.press_ownerbox > .press_owner {
  width: 100%;
}

.main_class {
  width: 100%;
}