h3 {
    line-height: 1;
    margin: 0;
    padding-bottom: 4px;
}

p {
    line-height: 1;
    margin: 0;
    padding-bottom: 2px;
}

.proj_labelbox img {
    display: block;
    padding-bottom: 4px;
}

.proj_button_box {
    padding-bottom: 20px;
}